name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: leanprover/lean-action@v1
        with:
          build-args: 'minimize test'
          test: false
      - name: Run tests
        run: |
          export LEAN_PATH="$(pwd)/.lake/build/lib/lean:$(dirname $(which lean))/../lib/lean"
          export LEAN_SYSROOT="$(dirname $(which lean))/.."
          .lake/build/bin/test
