name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: leanprover/lean-action@v1
        with:
          build-args: 'minimize test'
          test: false
      - name: Run tests
        timeout-minutes: 10
        run: lake env .lake/build/bin/test
